@font-face {
  font-family: 'montserrat';
  src: ' ../fonts/Montserrat/Montserrat-Regular.ttf';
}
@font-face {
  font-family: 'roboto';
  src: ' ../fonts/Roboto/Roboto-Regular.ttf';
}

:focus {outline:none;}

.postit{
  border:1px solid #ccc;
  background-color: #ffa;
  width: 300px;
}
.postit textarea{
  background-color: #ffa;
  resize:none;
  display:block;
  width:100%;
  border:none;
  outline:none;
  font-size:25px;
  font-family:"comic sans ms";

}