@font-face {
  font-family: 'montserrat';
  src: ' ../fonts/Montserrat/Montserrat-Regular.ttf';
}
@font-face {
  font-family: 'roboto';
  src: ' ../fonts/Roboto/Roboto-Regular.ttf';
}

.postit{
  border:1px solid #ccc;
  background-color: #ffa;
  width: 300px;
}
.postit textarea{
  background-color: #ffa;
}